<h1>2. Data Cleaning</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Research/Msc/CMM709/CAUSALITY-EXPLORE/data/raw/medical_appointment_no_show.csv")
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [3]:
temp_df = df.copy(deep=True)

# Convert to small-caps
temp_df.columns = [col.strip().lower().replace("-", "").replace(" ", "_") for col in temp_df.columns]

# Correct `typo`
temp_df.rename(columns={
    'patientid': 'patient_id',
    'appointmentid': 'appointment_id',
    'scheduledday': 'scheduled_day',
    'appointmentday': 'appointment_day',
    'noshow': 'no_show',
    'hipertension': 'hypertension',
    'handcap': 'handicap',
    'noshow': 'no_show'
}, inplace=True)

temp_df

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [4]:
# Convert label data types
temp_df['patient_id'] = temp_df['patient_id'].astype('int64')
temp_df['appointment_id'] = temp_df['appointment_id'].astype('int64')

# Convert `gender`, `neighbourhood`, `handicap`, to categorical type
for col in ['gender', 'neighbourhood', 'handicap']:
    temp_df[col] = temp_df[col].astype('category')
    
# Convert `scheduled_day` and `appointment_day` to datetime
for col in ['scheduled_day', 'appointment_day']:
    temp_df[col] = pd.to_datetime(temp_df[col]).dt.date.astype('datetime64[ns]')

# Convert `scholarship`, `hypertension`, `diabetes`, `alcoholism`, `sms_received` to boolean type
for col in ['scholarship', 'hypertension', 'diabetes', 'alcoholism']:
    temp_df[col] = temp_df[col].astype('int64')
    
# Convert `no_show` to boolean type
temp_df['sms_received'] = temp_df['sms_received'].astype('bool')
temp_df['no_show']  = temp_df['no_show'].replace({'No': 0, 'Yes': 1}).infer_objects(copy=False)
temp_df['no_show'] = temp_df['no_show'].astype('bool')

# Change `age` -1 value to 0
temp_df.replace({'age':{-1: 0}}, inplace=True)

temp_df

C:\Users\DFigurado\AppData\Local\Temp\ipykernel_32936\699942674.py:19: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  temp_df['no_show']  = temp_df['no_show'].replace({'No': 0, 'Yes': 1}).infer_objects(copy=False)

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received,no_show
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,False,False
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,False,False
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,False,False
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,False,False
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2572134369293,5651768,F,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,True,False
110523,3596266328735,5650093,F,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,True,False
110524,15576631729893,5630692,F,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,True,False
110525,92134931435557,5630323,F,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,True,False
110526,377511518121127,5629448,F,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,True,False

In [5]:
# verify the changes
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110527 non-null  int64
 1   appointment_id   110527 non-null  int64
 2   gender           110527 non-null  category
 3   scheduled_day    110527 non-null  datetime64[ns]
 4   appointment_day  110527 non-null  datetime64[ns]
 5   age              110527 non-null  int64
 6   neighbourhood    110527 non-null  category
 7   scholarship      110527 non-null  int64
 8   hypertension     110527 non-null  int64
 9   diabetes         110527 non-null  int64
 10  alcoholism       110527 non-null  int64
 11  handicap         110527 non-null  category
 12  sms_received     110527 non-null  bool
 13  no_show          110527 non-null  bool
dtypes: bool(2), category(3), datetime64[ns](2), int64(7)
memory usage: 8.1 MB

In [6]:
temp_df.describe(include='all')

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received,no_show
count,1.105270e+05,1.105270e+05,110527,110527,110527,110527.000000,110527,110527.000000,110527.000000,110527.000000,110527.000000,110527.0,110527,110527
unique,NaN,NaN,2,NaN,NaN,NaN,81,NaN,NaN,NaN,NaN,5.0,2,2
top,NaN,NaN,F,NaN,NaN,NaN,JARDIM CAMBURI,NaN,NaN,NaN,NaN,0.0,False,False
freq,NaN,NaN,71840,NaN,NaN,NaN,7717,NaN,NaN,NaN,NaN,108286.0,75045,88208
mean,1.474963e+14,5.675305e+06,NaN,2016-05-08 20:33:18.179630080,2016-05-19 00:57:50.008233472,37.088883,NaN,0.098266,0.197246,0.071865,0.030400,NaN,NaN,NaN
min,3.921700e+04,5.030230e+06,NaN,2015-11-10 00:00:00,2016-04-29 00:00:00,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,4.172614e+12,5.640286e+06,NaN,2016-04-29 00:00:00,2016-05-09 00:00:00,18.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
50%,3.173184e+13,5.680573e+06,NaN,2016-05-10 00:00:00,2016-05-18 00:00:00,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
75%,9.439172e+13,5.725524e+06,NaN,2016-05-20 00:00:00,2016-05-31 00:00:00,55.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
max,9.999816e+14,5.790484e+06,NaN,2016-06-08 00:00:00,2016-06-08 00:00:00,115.000000,NaN,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN
std,2.560949e+14,7.129575e+04,NaN,NaN,NaN,23.110190,NaN,0.297675,0.397921,0.258265,0.171686,NaN,NaN,NaN

In [7]:
temp_df.to_csv("C:/Research/Msc/CMM709/CAUSALITY-EXPLORE/data/interim/medical_appointment_no_show_cleaned.csv")